.operator-box {
  display: flex;
  flex-direction: row;

  border: 1px black solid;

  width: auto;
  height: auto;
}

.operand {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.operand > select {
  max-width: 200px;
}